# LANL Research

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import gzip
import shutil

We neeed to import the data we will use. Below we import the authentication and process summaries.

In [23]:
rootdir = 'C:/Users/corri/OneDrive/Documents/Uni/Postgraduate/Final Project/LANL/ATI Data/Summaries/wls'
unzippeddir = 'C:/Users/corri/OneDrive/Documents/Uni/Postgraduate/Final Project/LANL/ATI Data/Summaries/wls/Unzipped'
frames = []

count = 0

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        filedir = rootdir + '/' + file
        with gzip.open(filedir) as f:
            df = pd.read_csv(filedir, header=None)
            frames.append(df)
        if 'authentications' in str(file):
            count = count + len(df)

df = pd.concat(frames)

In [24]:
df

                  0           1                    2             3  4      5
0        User035855  Comp808475           Comp081330           TGS  0   17.0
1       Comp655251$  Comp655251      ActiveDirectory  NetworkLogon  0  350.0
2        User762066  Comp306129      ActiveDirectory           TGS  0   22.0
3        User384215  Comp095190  EnterpriseAppServer  NetworkLogon  0   35.0
4        User043263  Comp883307           Comp384394           TGS  0    2.0
...             ...         ...                  ...           ... ..    ...
251545  Comp738970$  Comp738970       Proc207472.exe       svchost  2    NaN
251546   User925794  Comp097857              cmd.exe    Proc174492  2    NaN
251547  Comp996714$  Comp996714       Proc612297.exe      services  5    NaN
251548  Comp391736$  Comp391736         rundll32.exe    Proc247259  2    NaN
251549  Comp769777$  Comp769777         rundll32.exe      rundll32  3    NaN

[72115362 rows x 6 columns]

In [27]:
authentication_data = df[:count]

In [28]:
process_data = df[count:]

In [36]:
authentication_data

                 0           1                    2             3  4      5
0       User035855  Comp808475           Comp081330           TGS  0   17.0
1      Comp655251$  Comp655251      ActiveDirectory  NetworkLogon  0  350.0
2       User762066  Comp306129      ActiveDirectory           TGS  0   22.0
3       User384215  Comp095190  EnterpriseAppServer  NetworkLogon  0   35.0
4       User043263  Comp883307           Comp384394           TGS  0    2.0
...            ...         ...                  ...           ... ..    ...
80187  Comp955366$  Comp955366      ActiveDirectory           TGS  0   23.0
80188  Comp589380$  Comp589380      ActiveDirectory           TGT  0   37.0
80189  Comp629793$  Comp629793      ActiveDirectory           TGS  0   21.0
80190   User104387  Comp917362      ActiveDirectory  NetworkLogon  0  387.0
80191   User992201  Comp487027           Comp915658  NetworkLogon  0    1.0

[16133744 rows x 6 columns]

In [37]:
process_data

                  0           1               2           3  4   5
0       Comp748297$  Comp748297  Proc391839.exe  Proc387473  1 NaN
1       Comp563664$  Comp563664    rundll32.exe    services  1 NaN
2        User607396  Comp609111  Proc417435.exe  Proc417435  1 NaN
3       Comp641702$  Comp641702  Proc249569.exe    services  1 NaN
4       Comp157389$  Comp157389  Proc402696.exe    services  1 NaN
...             ...         ...             ...         ... ..  ..
251545  Comp738970$  Comp738970  Proc207472.exe     svchost  2 NaN
251546   User925794  Comp097857         cmd.exe  Proc174492  2 NaN
251547  Comp996714$  Comp996714  Proc612297.exe    services  5 NaN
251548  Comp391736$  Comp391736    rundll32.exe  Proc247259  2 NaN
251549  Comp769777$  Comp769777    rundll32.exe    rundll32  3 NaN

[55981618 rows x 6 columns]