In [11]:
setwd("D://LA//ATI Data//")
Anom <- read.table(file="Anomalies.txt", header=T, sep=",")
Anom <- Anom[,-1]

In [2]:
head(Anom)
dim(Anom)

  UserName   SrcDevice  DstDevice  Authent.Type Failure DailyCount
1 User341813 Comp948451 Comp915658 NetworkLogon 0       1
2 User341813 Comp948451 Comp915658 NetworkLogon 0       1
3 User341813 Comp948451 Comp915658 NetworkLogon 0       1
4 User341813 Comp948451 Comp915658 NetworkLogon 0       1
5 User341813 Comp948451 Comp915658 NetworkLogon 0       1
6 User341813 Comp948451 Comp915658 NetworkLogon 0       1

[1] 20412     6

In [3]:
Auth <- read.table(file="Summaries//Just_Auth//LA.txt", header=T, sep=",")
Auth <- Auth[,-1]

In [4]:
head(Auth)
dim(Auth)

  UserName    SrcDevice  DstDevice           AuthType     Failure DailyCount
1 User035855  Comp808475 Comp081330          TGS          0        17
2 Comp655251$ Comp655251 ActiveDirectory     NetworkLogon 0       350
3 User762066  Comp306129 ActiveDirectory     TGS          0        22
4 User384215  Comp095190 EnterpriseAppServer NetworkLogon 0        35
5 User043263  Comp883307 Comp384394          TGS          0         2
6 User631552  Comp621781 Comp915658          NetworkLogon 0         1

[1] 15953681        6

In [5]:
Score <- read.csv(file="Summaries//Just_Auth//AuthScores.csv", header=T)

In [6]:
Score <- Score[,-1]
head(Score)
length(Score)

[1] 0 0 0 0 0 0

[1] 15953681

In [7]:
AU <- cbind(Auth, Score)
head(AU)

  UserName    SrcDevice  DstDevice           AuthType     Failure DailyCount
1 User035855  Comp808475 Comp081330          TGS          0        17
2 Comp655251$ Comp655251 ActiveDirectory     NetworkLogon 0       350
3 User762066  Comp306129 ActiveDirectory     TGS          0        22
4 User384215  Comp095190 EnterpriseAppServer NetworkLogon 0        35
5 User043263  Comp883307 Comp384394          TGS          0         2
6 User631552  Comp621781 Comp915658          NetworkLogon 0         1
  Score
1 0
2 0
3 0
4 0
5 0
6 0

In [8]:
colnames(Anom) <- colnames(Auth)

In [ ]:
Result <- AU[Anom%in%AU[,-ncol(AU)]==TRUE, ]