# Adjacency Matrix using NetworkX

First we import packages as usual:

In [1]:
import sys
sys.path.insert(0,'G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/Advanced-Cyber-Analytics-for-Attack-Detection/Modules/')
import pandas as pd
import numpy as np
from dt import *
from startup_g import *
import networkx as nx
from pyvis.network import Network
from random import randint

In [2]:
df_a = auth_import()

Looking for local copy of Auth data...

G:\Programs\Anaconda\envs\det\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Auth data fetched locally in 0:00:21.506681

Index by days:

In [3]:
index_list = df_a.index.tolist()
proc_start_days = [i for i, e in enumerate(index_list) if e == 0]
proc_start_days.append(len(df_a))
df_a_d1 = df_a[proc_start_days[0]:proc_start_days[1]]
df_a_d1.head()

,UserName,SrcDevice,DstDevice,Authent Type,Failure,DailyCount
0,User035855,Comp808475,Comp081330,TGS,0,17.0
1,Comp655251$,Comp655251,ActiveDirectory,NetworkLogon,0,350.0
2,User762066,Comp306129,ActiveDirectory,TGS,0,22.0
3,User384215,Comp095190,EnterpriseAppServer,NetworkLogon,0,35.0
4,User043263,Comp883307,Comp384394,TGS,0,2.0

In [22]:
df_a_d2_4 = df_a[proc_start_days[1]:proc_start_days[4]]

## Create a network - Day 1

We create a network from UserName to SrcDevice in the authentication data, using the MulitGraph approach.

In [4]:
G = nx.from_pandas_edgelist(df_a_d1,source="UserName",target="SrcDevice",create_using=nx.MultiGraph)

First attempt gives the adjacency matrix in networkx's own form.

In [5]:
G_AM = nx.adjacency_matrix(G)

In [7]:
sys.getsizeof(G_AM)

48

Next attempt does the same as above but returns a numpy array containing the same information (this is easier for us to look at).

In [8]:
dtn()
G_amnp = nx.to_numpy_array(G)
gen_end()

Completed in :0:00:07.808682

In [8]:
dtn()
G_amnp = nx.to_scipy_sparse_matrix(G,format="csc")
gen_end()

Completed in :0:00:00.952690

array([[ 0, 15,  0, ...,  0,  0,  0],
       [15,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  1,  0],
       [ 0,  0,  0, ...,  1,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0]], dtype=int32)

In [9]:
G_amnp

array([[ 0., 15.,  0., ...,  0.,  0.,  0.],
       [15.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [10]:
dtn()
G_ampd = nx.to_pandas_adjacency(G)
gen_end()

Completed in :0:00:11.246180

In [11]:
G_ampd

,User035855,Comp808475,Comp655251$,Comp655251,User762066,Comp306129,User384215,Comp095190,User043263,Comp883307,...,Comp201153,User869250,User541200,Comp745385$,Comp530167,User188449,User994108,User960568,Comp690114,User642071
User035855,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Comp808475,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Comp655251$,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Comp655251,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User762066,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
User188449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User994108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User960568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Comp690114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
User642071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
def sparse_adj(df,day_start,day_end,sourc,targ,sprs):
    """Creates a sparse adjacency matrix on a specified day range in the data
    
    Keyword Arguments:
    df -- dataframe to use. a for auth or p for process
    day_start -- day to start on
    df_end -- day to end on
    sourc -- source variable for graph
    targ -- target variable for graph
    sprs -- sparse matrix form to use from scipy"""
    df = str(df)
    if df == "p":
        index_list = df_p.index.tolist()
        proc_start_days = [i for i, e in enumerate(index_list) if e == 0]
        proc_start_days.append(len(df_p))
        df_x = df_p[proc_start_days[day_start-1]:proc_start_days[day_end]]
    if df == "a":
        index_list = df_a.index.tolist()
        proc_start_days = [i for i, e in enumerate(index_list) if e == 0]
        proc_start_days.append(len(df_a))
        df_x = df_a[proc_start_days[day_start-1]:proc_start_days[day_end]]
    G = nx.from_pandas_edgelist(df_x,source=sourc,target=targ,create_using=nx.MultiGraph)
    Gn = nx.to_scipy_sparse_matrix(G,format=sprs)
    return Gn

In [16]:
test = pd_adj("a",1,1,"UserName","SrcDevice","csc")

In [25]:
dtn()
all_days_adj = []
for i in range(1,91):
    variable = sparse_adj("a",1,1,"UserName","SrcDevice","csc")
    all_days_adj.append(variable)
gen_end()

Completed in :0:06:50.853572

In [29]:
all_days_adj[89]

<28658x28658 sparse matrix of type '<class 'numpy.intc'>'
	with 50974 stored elements in Compressed Sparse Column format>

## Create a Network - Whole Data