In [1]:
import sys
sys.path.insert(0,'G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/Advanced-Cyber-Analytics-for-Attack-Detection/Modules/')
import pandas as pd
from datetime import datetime as dt
import time
from dt import *
from startup_g import *

In [2]:
df_p = process_import()
df_a = auth_import()

Looking for local copy of Process data...

G:\Programs\Anaconda\envs\det\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Process data fetched locally in 0:01:07.293082
Looking for local copy of Auth data...
Auth data fetched locally in 0:00:19.884663

In [11]:
df_a[df_a["UserName"].isin(["User794682"])]

Empty DataFrame
Columns: [UserName, SrcDevice, DstDevice, Authent Type, Failure, DailyCount]
Index: []

In [4]:
x = ["UserName","Device"]
counts_p = []
for i in x:
    z = df_p.groupby(i).size().sort_values(ascending=False)
    z = pd.DataFrame(z)
    z.reset_index(level=0, inplace=True)
    z.columns = [i,'Count']
    counts_p.append(z)

In [5]:
x = ["UserName","SrcDevice","DstDevice"]
counts_a = []
for i in x:
    z = df_a.groupby(i).size().sort_values(ascending=False)
    z = pd.DataFrame(z)
    z.reset_index(level=0, inplace=True)
    z.columns = [i,'Count']
    counts_a.append(z)

In [7]:
counts_p[0]

                   UserName   Count
0                   Scanner  255383
1                User272607   73934
2      EnterpriseAppServer$   38552
3             Administrator   29443
4                User414014   18593
...                     ...     ...
25315            User711040       1
25316            User296343       1
25317            User464715       1
25318            User126086       1
25319            User252033       1

[25320 rows x 2 columns]

In [14]:
lims = counts_p[0][counts_p[0].Count < 4]

In [15]:
print(len(counts_p[0]))
print(len(lims))

25320
189

In [22]:
x = list(lims["UserName"])
y = df_p[df_p["UserName"].isin(x)]

In [26]:
a = list(y["Device"])
b = counts_p[1][counts_p[1]["Device"].isin(a)]

In [27]:
b

                    Device   Count
0      EnterpriseAppServer  451831
68              Comp558084   11134
84              Comp679250   10651
138             Comp130405    9580
158             Comp613192    9423
...                    ...     ...
13238           Comp527282     182
13447           Comp977186      38
13473           Comp733749       3
13474           Comp772226       2
13475           Comp212946       1

[158 rows x 2 columns]

In [ ]:
un_discard = []
dev_discard = []
for i in df_p["UserName"]:
    x = counts_p[0][counts_p[0]["UserName"] == i]["Count"].values[0]
    for j in df_p["Device"]:
        y = counts_p[1][counts_p[1]["Device"] == j]["Count"].values[0]
        z = x+y
        if z < 6:
            if i in un_discard:
                pass
            elif i not in un_discard:
                un_discard.append(i)
            dev_discard.append(j)

In [39]:
counts_p[0][counts_p[0]["UserName"] == "Scanner"]["Count"].values[0]

255383

In [42]:
counts_p[1][counts_p[1]["Device"] == "EnterpriseAppServer"]["Count"].values[0]

451831